.metrics-container {
  padding: 1rem;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  width: 150px;
  margin-right: 1rem;
}

mat-slider {
  flex: 1;
}

mat-slide-toggle {
  margin-bottom: 1rem;
}
