<div class="metrics-container">
  <mat-slide-toggle (change)="toggleMetrics($event.checked)" [checked]="metricsEnabled">
    Enable Weights
  </mat-slide-toggle>
  <form [formGroup]="metricsForm" *ngIf="metricsEnabled">
    <div class="slider-container">
      <label>Financial Data</label>
      <mat-slider min="0" max="100" step="1" discrete formControlName="financial_data">
        <input matSliderThumb [displayWith]="formatLabel">
      </mat-slider>
    </div>
    <div class="slider-container">
      <label>Traction Signals</label>
      <mat-slider min="0" max="100" step="1" discrete formControlName="traction_signals">
        <input matSliderThumb [displayWith]="formatLabel">
      </mat-slider>
    </div>
    <div class="slider-container">
      <label>Market Opportunity</label>
      <mat-slider min="0" max="100" step="1" discrete formControlName="market_opportunity">
        <input matSliderThumb [displayWith]="formatLabel">
      </mat-slider>
    </div>
    <div class="slider-container">
      <label>Team Quality</label>
      <mat-slider min="0" max="100" step="1" discrete formControlName="team_quality">
        <input matSliderThumb [displayWith]="formatLabel">
      </mat-slider>
    </div>
  </form>
</div>
